.topnav {
  overflow: hidden;
  background-color:maroon;
 
}
ul{
  float: left;
}

.topnav a {
  float: left;
  color:orang ;
  text-align : center;
  padding : 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color:maroon;
  color: black;
}

.topnav a.active {
  background-color: orangered;
  color: white;
}

. fakeimg{
width:100%;
}